{% extends 'nonavbase.html' %}
{% block content %}
<div class="row justify-content-md-around">
  <div class="col-12 col-md-6 col-lg-5 mb-5 mb-lg-0">
      <div class="card bg-primary shadow-soft border-light p-4">
          <div class="card-header text-center pb-0">
              <h2 class="h4">Margin Guide</h2>
              <span>가입하셨던 이메일을 입력하세요,</span>   
          </div>
          <div class="card-body">
              <form hx-get="/send_password" hx-swap="innerHTML" hx-target="body">
                  <!-- Form -->
                  <div class="form-group">
                      <label>E-mail</label>
                      <div class="input-group mb-4">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                          </div>
                          <input class="form-control" placeholder="가입시 등록한 이메일 주소"  name="email" type="email" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="d-block d-sm-flex justify-content-between align-items-center mb-4">
                          <div><a href="/login" class="small text-right">로그인</a></div>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-primary">이메일로 비밀번호 링크 받기</button>
              </form>
              <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                  <span class="font-weight-normal">
                      아직 회원이 아니신가요?
                      <a href="https://www.marginguide.com" class="font-weight-bold" target="_blank">계정 생성하기</a>
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
