{% extends 'base.html' %}

{% block content %}
<div class="report_page">
    <div class="row sticky">
        <div class="page_title">
            기본 세팅 방법
        </div>
    </div>
    <iframe width="1095" height="616" src="https://www.youtube.com/embed/XR9GMDOB-Vk" 
        title="마진가이드 첫 사용자를 위한 기초 세팅방법" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <!-- 캠페인 요약 및 누적 실적 / 광고 그룹 리스트 -->
    <!--
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">1. 쿠팡 판매자 계정 추가</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">2. 상품 비용 설정</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">3. 데일리 데이터 수집(최소 1주일에 1번 수집)</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">4. 데이터 초기화(상품비용 설정 전 데이터 수집을 하였을 경우)</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">1. 쿠팡 판매자 계정 추가</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">1. 쿠팡 판매자 계정 추가</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">1. 쿠팡 판매자 계정 추가</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section_title" id = "pannel_1" onclick="show_set_pannel(this.id)">1. 쿠팡 판매자 계정 추가</div>
    <div id="pannel_1c" class="section_content" style=" display: none;">
        <div class="itemtitle">누적광고비
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/PIzFJeMGlGU" title="게임 시작부터 실력 없다고 미친듯이 조롱하는 상대.. 그의 최후는?ㅋㅋㅋㅋ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

</div>
-->
<!-- DIV 오픈/닫기 -->
    <script>
        function show_set_pannel(id){
            const element = document.getElementById(id + 'c');
            if(element.style.display == 'none'){ element.style.display = ""; }else{ element.style.display = "none"; } };
    </script>



    </script>
        


{% endblock %}
